.about {
  background-color: white;
  color: black;
}

.header {
  font-size: 50px;
  background-image: url(/images/dj.jpg);
}

.body {
    margin: 0px 300px;
}

.subHeader {
  text-align: left;
  font-size: 30px;
  margin: 10px 0px;
}

.content {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
